<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
</head>

<body>
    <h1> Greet User</h1>
    
    <%= message %>

    <h2>Thanks for Visit</h2>
</body>

</html>